.container {
  direction: rtl;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.title {
  width: 100%;
  height: 20px;
  padding-right: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Vazir';
  font-weight: 500;
  font-size: 15px;
}

.input {
  width: 70%;
  margin-top: 15px;
  height: 25px;
  padding-right: 15px;
  border: solid 1px #000;
  border-radius: 8px;
  direction: rtl;
  font-family: 'Vazir';
  font-weight: 400;
  font-size: 13px;
}
