.App {
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.inputs {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.button-row {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.submit {
  all: unset;
  cursor: pointer;
  box-shadow: 3px 3px 10px #dadada;
  width: 100px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'Vazir';
  font-weight: 400;
  font-size: 15px;
}

.cancel {
  all: unset;
  cursor: pointer;
  box-shadow: 3px 3px 10px #eee;
  width: 100px;
  height: 50px;
  background-color: lightcoral;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'Vazir';
  font-weight: 400;
  font-size: 15px;
}

.table {
  width: 90%;
  direction: rtl;
  font-family: 'Vazir';
  font-weight: 400;
  font-size: 13px;
  border: solid 1px #000;
  margin-left: 5%;
}

.table-head {
  background-color: lightgoldenrodyellow;
  border: solid 1px #000;
}

.table-head > tr {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-head > tr > td:nth-child(1) {
  cursor: pointer;
  margin-right: 150px;
}

.table-head > tr > td:nth-child(2) {
  cursor: pointer;
  margin-right: 205px;
}

.table-head > tr > td:nth-child(3) {
  cursor: pointer;
  margin-right: 175px;
}

.table-head > tr > td:nth-child(4) {
  cursor: pointer;
  margin-right: 180px;
}

.table-head > tr > td:nth-child(5) {
  cursor: pointer;
  margin-right: 167px;
}

.table-head > tr > td:nth-child(6) {
  cursor: pointer;
  margin-right: 180px;
}

.table-head > tr > td:nth-child(7) {
  cursor: pointer;
  margin-right: 220px;
}

.table-row {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: solid 1px #000;
}


.table-row > td:nth-child(1) {
  margin-right: 150px;
}

.table-row > td:nth-child(2) {
  width: 200px;
  text-align: center;
  margin-right: 120px;
}

.table-row > td:nth-child(3) {
  width: 70px;
  text-align: center;
  margin-right: 95px;
}

.table-row > td:nth-child(4) {
  width: 270px;
  text-align: center;
  margin-right: 50px;
}

.table-row > td:nth-child(5) {
  margin-right: 43px;
}

.table-row > td:nth-child(6) {
  width: 260px;
  text-align: center;
  margin-right: 80px;
}

.table-row > td:nth-child(7) {
  width: 200px;
  text-align: center;
  margin-right: 50px;
}

.table-row:nth-child(even) {
  background-color: #bbb;
}
