@font-face {
  font-family: 'Vazir';
  src: url('./eot/Vazir-Thin-FD-WOL.eot')format('embedded-opentype'),
       url('./ttf/Vazir-Thin-FD-WOL.ttf')format('truetype'),
       url('./woff/Vazir-Thin-FD-WOL.woff')format('woff'),
       url('./woff2/Vazir-Thin-FD-WOL.woff2')format('woff2');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Vazir';
  src: url('./eot/Vazir-Light-FD-WOL.eot')format('embedded-opentype'),
       url('./ttf/Vazir-Light-FD-WOL.ttf')format('truetype'),
       url('./woff/Vazir-Light-FD-WOL.woff')format('woff'),
       url('./woff2/Vazir-Light-FD-WOL.woff2')format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Vazir';
  src: url('./eot/Vazir-FD-WOL.eot')format('embedded-opentype'),
       url('./ttf/Vazir-FD-WOL.ttf')format('truetype'),
       url('./woff/Vazir-FD-WOL.woff')format('woff'),
       url('./woff2/Vazir-FD-WOL.woff2')format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Vazir';
  src: url('./eot/Vazir-Medium-FD-WOL.eot')format('embedded-opentype'),
       url('./ttf/Vazir-Medium-FD-WOL.ttf')format('truetype'),
       url('./woff/Vazir-Medium-FD-WOL.woff')format('woff'),
       url('./woff2/Vazir-Medium-FD-WOL.woff2')format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Vazir';
  src: url('./eot/Vazir-Bold-FD-WOL.eot')format('embedded-opentype'),
       url('./ttf/Vazir-Bold-FD-WOL.ttf')format('truetype'),
       url('./woff/Vazir-Bold-FD-WOL.woff')format('woff'),
       url('./woff2/Vazir-Bold-FD-WOL.woff2')format('woff2');
  font-style: normal;
  font-weight: 700;
}